@using Sep2018_MVC.Models
@model Person
@{
    ViewBag.Title = "InformationAccount";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutAdmin.cshtml";
    User meo = new User();
    meo = TempData["User_Teacher"] as User;
}

@*<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
<!------ Include the above in your HEAD tag ---------->
<div class="container">
    <div class="row">
        <div class="col-md-5  toppad  pull-right col-md-offset-3 ">
            <h1> <br /> </h1>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-xs-offset-0 col-sm-offset-0 col-md-offset-3 col-lg-offset-3 toppad">


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">@Model.Name</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="~/images/Avatar/@meo.avatar" class="img-circle img-responsive"> </div>
                        <div class=" col-md-9 col-lg-9 ">
                            <table class="table table-user-information">
                                <tbody>
                                    <tr>
                                        <td>MSGV:</td>
                                        <td>@Model.MS</td>
                                    </tr>
                                    <tr>
                                        <td>Birth Day</td>
                                        <td>@Model.Birthday</td>
                                    </tr>

                                    <tr>
                                    <tr>
                                        <td>Gender</td>
                                        @{
                                            if (Model.Gender == true)
                                            {
                                                <td>Male</td>
                                            }
                                            else
                                            {
                                                <td>Female</td>
                                            }
                                        }

                                    </tr>
                                    <tr>
                                        <td>Home Town</td>
                                        <td>@Model.HomeTown</td>
                                    </tr>
                                    <tr>
                                        <td>Current residence</td>
                                        <td>@Model.CurrentResidence</td>
                                    </tr>
                                    <tr>
                                        <td>Email</td>
                                        <td><a href="mailto:info@support.com">@Model.Email</a></td>
                                    </tr>
                                <td>Phone Number</td>
                                <td>
                                    @Model.PhoneNumber
                                </td>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>