@using Sep2018_MVC.Models
@model List<Attendance>
@{
    ViewBag.Title = "Offline";
    Layout = "~/Areas/Staff/Views/Shared/_LayoutAdmin.cshtml";
    SEP_2018_T6Entities1 db = new SEP_2018_T6Entities1();
    var CourseName = TempData["Course"];
    var ClassName = TempData["Class"];
    var SubjectName = TempData["Subject"];
    var ListStudent = TempData["ListStudent"] as List<User>;
    var id_ScheDetail = TempData["id_Schedetail"];
    var id_course = TempData["id_Course"];
    var id_class = TempData["id_Class"];
    var id_subject = TempData["id_Subject"];
}
<style>
    .head-meo {
        margin-bottom: 50px;
    }
        .head-meo > div:nth-child(2) {
            position: absolute;
            right: 0;
            bottom: 0;
        }
</style>

@if (Model == null)
{
    <h1>Chưa có buổi điểm danh nào cho môn học này...!</h1>
}
else
{
    <h2>@CourseName@ClassName - @SubjectName  </h2>
    <div class="container">
        <div class="row">
            <div class="table-responsive">
                <div class="col-md-12 head-meo">
                    <div class="col-md-6">
                        <h2>Attendance's History</h2>
                    </div>
                    <div class="col-md-6">
                        <div class="col-md-4">
                            <a class="btn btn-primary" href="~/staff/export/excel/?id_course=@id_course&&id_Class=@id_class&&id_subject=@id_subject">DownloadFileExcel</a>
                        </div>
                        <div class="col-md-8">
                            @using (Html.BeginForm("ImportExcel", "Teacher", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.Raw(ViewBag.Error)
                                <input name="id_ScheDe" value="@id_ScheDetail" type="hidden" />
                                <input name="id_Course" value="@id_course" type="hidden" />
                                <input name="id_Class" value="@id_class" type="hidden" />
                                <input name="id_Subject" value="@id_subject" type="hidden" />
                                <div class="col-md-6">
                                    <input class="col-md-10 btn" type="file" name="excelfile" accept=".xls,.xlsx" />
                                </div>
                                <div class="ol-md-6">
                                    <button class="btn btn-success" type="submit" value="Import">ImportExcel</button>
                                </div>
                            }
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>No.</th>
                                <th>MSSV</th>
                                <th>Student</th>
                                @foreach (var item in Model)
                                {
                                    <th>@item.Date</th>
                                }
                                @*<th>Begin Time</th>
                                    <th>End Time</th>*@
                                @*<th>Lesson</th>
                                    <th>Unit Lession</th>*@
                            </tr>
                        </thead>
                        <tbody>
                            @{
                                int count = 1;
                                string color = "";

                                foreach (var stu in ListStudent)
                                {
                                    <tr>
                                        <td>@count</td>
                                        <td>@stu.username</td>
                                        <td>@db.People.FirstOrDefault(s => s.MS == stu.username).Name</td>
                                        @foreach (var ite in Model)
                                        {

                                            switch (db.AttendanceDetails.FirstOrDefault(s => s.FK_Attendance == ite.id && s.FK_User == stu.username).FK_AttendanceDetail_Type)
                                            {
                                                case 1:
                                                    color = "success";
                                                    break;
                                                case 2:
                                                    color = "warning";
                                                    break;
                                                case 3:
                                                    color = "danger";
                                                    break;
                                                case 4:
                                                    color = "secondary";
                                                    break;
                                            }
                                            <td class="@color">@db.AttendanceDetails.FirstOrDefault(s => s.FK_Attendance == ite.id && s.FK_User == stu.username).AttendanceType.TypeName</td>

                                        }
                                    </tr>
                                    count++;
                                }
                            }
                        </tbody>
                    </table>
                </div>

            </div>
        </div>
    </div>
}

